$primary-color: #ffffff;
$secondary-color: #828282;
$third-color: #181719;
$gray-1: #333333;

$color: #ffffff;

html{
    background-color: white;


}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoName{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: $gray-1;
    margin-top: 2.6rem;
    margin-left: 3.25rem;

    @media (max-width:950px){
    margin-left: 0.6rem;
    margin-top: 0.8rem;
    font-size: 24px;
line-height: 35px;

    }
}
.listOverview {
    list-style-type: none;
    margin-top: 3.1rem;
    display: flex;
    overflow-y: hidden;
    @media (max-width: 950px) {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color;
      height: 110%;
      width: 100%;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: 0.4s ease all;
      z-index: 10;
      
    }
    &Open {
      @extend .listOverview;
      transform: translateX(0%);
      
    }
    .list {
      float: left;
      .navLink {
        display: block;
        color: $third-color;
        text-align: center;
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-right: 3.5rem;
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-right: 3rem;
        }
        @media (max-width: 950px) {
          margin-top: 2rem;
          margin-right: 0;
        }
        &:hover {
          @extend .navLink;
  
          border-bottom: 2px solid $third-color;
        }
        &Active {
          @extend .navLink;
          padding-bottom: 5px;
          font-weight: 700;
          border-bottom: 2px solid $third-color;
        }
      }
    }
  }